canvas{
    background-color: #bbbbbb;
}
body{
    background-image: url(RIC.gif) ;
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
  }